@font-face {
  font-family: TakenByVultures;
    src: url(https://anvithak7.github.io/portfolio/TakenByVultures.otf);
}
body {
  background-color:cadetblue;
}

h1 {
  color:aquamarine;
  border: 3px dashed powderblue;
  font-family: TakenByVultures, Georgia;
}
