@font-face {
  font-family: TakenByVultures;
    src: url(https://anvithak7.github.io/portfolio/TakenByVultures.otf);
}

@font-face {
  font-family: TheConstellationofHeracles;
    src: url(https://anvithak7.github.io/portfolio/TheConstellationOfHeracles.ttf);
}

body {
  background-color:cadetblue;
}
h1{
  
}
h2 {
  color:aquamarine;
  border: 3px dashed powderblue;
  font-family: TheConstellationofHeracles, Georgia, Helvetica;
  font-size: 95px;
  font-weight: 100;
  margin-left: 0px;
  margin-right: 0px;
}
p {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}
