@font-face {
  font-family: TakenByVultures;
    src: url(https://anvithak7.github.io/portfolio/TakenByVultures.otf);
}

@font-face {
  font-family: TheConstellationofHeracles;
    src: url(https://anvithak7.github.io/portfolio/TheConstellationOfHeracles.ttf);
}

@font-face {
  font-family: HazelGrace;
    src: url(https://anvithak7.github.io/portfolio/HazelGrace.ttf);
}

@font-face {
  font-family: MathildeCastleland;
  src: url(https://anvithak7.github.io/portfolio/MathildeCastleland.ttf);
}

body {
  background-color: #12404e;
}

h1{
  font-family: MathildeCastleland, Georgia, Helvetica, serif;
  color:aquamarine;
  font-weight: 100;
  font-size: 120px;
  text-align: center;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

nav {
  margin-top: 20px;
  font-family: , Georgia, Helvetica, serif;
  font-size: 50px;
}

h2 {
  color:turquoise;
  border: 3px dashed powderblue;
  font-family: TheConstellationofHeracles, Georgia, Helvetica, serif;
  font-size: 95px;
  font-weight: 100;
  margin-left: auto;
  padding: 0px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}
